.App {
  font-family: Arial, sans-serif;
  font-size: larger;
  background-color: ;
}

.puppy {
  color: black;
  padding: 5px;
  display: flex;
  justify-content: center;
}

.puppy:hover {
  color: red; 
}

.info {
  display: flex;
  justify-content: center;
  padding: 5px;
  color: black;
  opacity: 0; /* Start with the info div hidden */
  transition: opacity 0.5s ease;
}

.info.fade-in {
  opacity: 1; /* Show the info div after the fade-in animation */
}
